# macOS
.DS_Store

# Local secrets
**/secret.env
**/*.agekey
**/*.sops.yaml

# Kube/Talos configs
**/kubeconfig
**/talosconfig

# Terraform state and vars
**/terraform.tfstate
**/terraform.tfstate.*
.terraform/
**/terraform.tfvars.secret

# Flux
**/flux-system/

# Logs
*.log
